# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Environment Variables / Secrets
# ==============================

.env

# ==============================
# Testing
# ==============================

.pytest_cache/
.coverage
htmlcov/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Project Data
# ==============================

data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
data/quarantine/*
!data/quarantine/.gitkeep

# ==============================
# Credentials & Secrets
# ==============================
credentials/
*.json

# ==============================
# Logs & State
# ==============================
logs/
*.log
state/
*.state.json